$header1: 2.5rem;
$header2: 4rem;
$header3: 2rem;
$header4: 2.5rem;
$text: 2.5rem;
$gradient: linear-gradient(left, #43d687, #fcff79);
$background-color: rgb(39, 41, 68);
$gray-text: rgb(224, 224, 224);

@import "global";
